@use '../variables.scss'; 
@use '../mixins.scss'; 


#Questions{ 

    width: 100%; 
    padding: 5.6vw; 

    h2{ 
        text-align: center; 
        color: variables.$colorBorder;
        font-size: 4rem; 
        line-height: 5rem; 

    } 

    .answers-area{ 
        .answer{ 
            background-color:variables.$colorAnswersSection; 
            margin-top: 1.6rem; 
            text-align: left;  
           
            button{ 
                position: relative; 
                z-index: 2; 
                overflow: hidden;
                border: none; 
                border-radius: 4px; 
                width: 100%; 
                padding: 2.4rem; 
                background-color: inherit;
                outline: none;  
                color: variables.$colorBorder; 
                text-align: inherit;
                span{ 
                    font-size: 2rem; 
                    line-height: 3rem;
                    display: inline-block; 
                    position:relative; 
                    width: 100%; 
                    padding-right: 2.6rem; 
                 
                    &::after{ 
                        content: "+";
                        color: #f9f9f9;
                        font-size: 40px;
                        line-height: .8;
                        position: absolute;
                        right: 0;   
                        top: calc(50% - 16px);
                    }
                    
                };
            }  
            .list-answers{ 
                 
                max-height: 0;  
                overflow: hidden; 
                padding: 0 2.4rem; 
                margin: 0 ; 
                transition: max-height, .25s ease-in-out; 
                p, .item-answers{ 
                    font-size: 1.8rem; 
                    line-height: 2.8rem; 
                    color: variables.$colorParagraph; 
                    margin-top: 1.6rem; 
                     
                       
                }
                p.first-child{ 
                    margin-top: 0; 
                }
                .item-answers{ 
                  
                    &::before{ 
                        content: ''; 
                        width: 7px; 
                        height: 7px; 
                        border-radius: 50%; 
                        position: relative;  
                        right: 5px; 
                        bottom: 4px;   
                        display : inline-block; 
                        background-color: variables.$colorParagraph;  

                    } 
                }
            }
            
            
        } 

        .answer.open{ 
            min-height: auto; 
            max-height: 1500px; 
                button{ 
                    border: none; 
                    border-radius: 4px; 
                    width: 100%; 
                    padding: 2.4rem; 
                    background-color: inherit;
                    outline: none;  
                    color: variables.$colorBorder; 
                    text-align: inherit;
                    span{ 
                        font-size: 2rem; 
                        line-height: 3rem;
                        display: inline-block; 
                        position:relative; 
                        width: 100%; 
                        padding-right: 2.6rem; 
                     
                        &::after{ 
                            content: "-";
                            color: #f9f9f9;
                            font-size: 40px;
                            line-height: .8;
                            position: absolute;
                            right: 0;   
                            top: calc(50% - 16px);
                        }
                        
                    };
                 

            }

            .list-answers{ 
               
                max-height: 1500px; 
                overflow: hidden; 
                padding-bottom: 2.4rem; 
                margin: 0; 
            }
        }

       
    }
}  


@media screen{ 

    @media(min-width: 769px) and (max-width: 1024px){ 

        #Questions{ 
            h2{ 
                font-size: 2.8rem; 
                line-height: 3.8rem;
            } 
            .answers-area{ 
                .answer{ 
                    button{ 
                        span{
                            font-size: 1.6rem; 
                            line-height: 2.6rem; 
                        }
                    }
                
                    .list-answers{ 
                        p, .item-answers{
                            font-size: 1.6rem; 
                            line-height: 2.6rem; 
                        }
                    }
                } 
            
            
                .answer.open{ 
                    button{ 
                        span{ 
                            font-size: 1.6rem;
                            line-height: 2.6rem; 
                        }
                    }
                }
            
            }

            
        }

    }


    @media(max-width: 768px){ 

        #Questions{ 
            h2{ 
                font-size: 2.4rem;  
                line-height: 3.4rem; 
            } 
            .answers-area{ 
                .answer{ 
                    button{ 
                        span{
                            font-size: 1.5rem; 
                            line-height: 2.5rem;
                        }
                    }
                
                    .list-answers{ 
                        p, .item-answers{
                            font-size: 1.5rem; 
                            line-height: 2.5rem; 
                        }
                    }
                } 
            
            
                .answer.open{ 
                    button{ 
                        span{ 
                            font-size: 1.5rem; 
                            line-height: 2.5rem; 
                        }
                    }
                }
            
            }

            
        }
    }

}